header {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--main2);
    border-bottom: 2px solid var(--main4);
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 2;
}

h1 {
    margin: 0;
    color: var(--main4);
    font-size: xx-large;
    padding-inline: 1em;
}

a {
    display: flex;
    align-items: center;

    font-size: large;
    border: none;
    padding-inline: 1em;
    text-decoration: none;
    color: var(--main1);
    background-color: var(--main4);
    border-left: 2px solid var(--main4);
}
a:hover {
    border-left: 2px solid var(--main4);
    color: var(--main4);
    background-color: var(--main3);
}
a:active {
    background-color: var(--main2);
}

.selected {
    color: var(--main4);
    background-color: var(--main3);
}

@media (max-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        font-size: large;
    }

    a {
        font-size: medium;
    }
}
