form {
    display: flex;
    gap: 5px;
}

input {
    width: 80%;
    font-family: "Poppins", system-ui;
    font-size: large;
    background-color: var(--background);
    border: none;
    border-bottom: 2px dashed var(--main3);

    transition-property: border;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
input:focus {
    outline: none;
    border-bottom: 2px solid var(--main2);
}

button {
    color: var(--main1);
    background-color: var(--main4);
    border: 2px solid var(--main4);
    font-family: "Poppins", system-ui;
    font-size: large;
    padding-inline: 10px;
}
button:hover {
    color: var(--main4);
    background-color: var(--main3);
    border: 2px solid var(--main4);
}
button:active {
    color: var(--main4);
    background-color: var(--main2);
    border: 2px solid var(--main4);
}

@media (max-width: 800px) {
    input {
        font-size: medium;
    }
}