h1 {
    font-size: x-large;
    padding: 0;
    margin: 0 0 10px 0;
}

p {
    width: 20vw;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    max-width: 25vw;
    color: var(--error3);
    background-color: var(--error1);
    border: 2px solid var(--error2);
}

@media (max-width: 800px) {
    form {
        width: 85%;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }

    h1 {
        text-align: center;
    }
}
