<form class="form">
    <h1>Editing {{ languageName() }}</h1>
    <h2>Editing {{ word().word }}</h2>
    <div class="input-group">
        <div class="input-row">
            <p>
                <label for="word">Word:</label>
                <input
                    type="text"
                    id="word"
                    name="word"
                    autocomplete="off"
                    [(ngModel)]="word().word"
                />
            </p>
            <p class="part-of-speech">
                <label for="part-of-speech">Part of Speech:</label>
                <input
                    type="text"
                    id="part-of-speech"
                    name="part-of-speech"
                    autocomplete="off"
                    [(ngModel)]="word().part_of_speech"
                />
            </p>
        </div>

        <label for="translation">Translation:</label>
        <input
            type="text"
            id="translation"
            name="translation"
            autocomplete="off"
            [(ngModel)]="word().translation"
        />
    </div>
    <div class="input-group">
        <label for="ipa">Phonetic Transcription:</label>
        <input
            type="text"
            id="ipa"
            name="ipa"
            autocomplete="off"
            [(ngModel)]="word().phonetic_transcription"
        />
    </div>
    <div class="input-group">
        <label for="example">Example Sentence:</label>
        <textarea
            rows="4"
            id="example"
            name="example"
            autocomplete="off"
            [(ngModel)]="word().example"
        ></textarea>

        <label for="example-translation">Example Sentence Translation:</label>
        <textarea
            rows="4"
            id="example-translation"
            name="example-translation"
            autocomplete="off"
            [(ngModel)]="word().example_translation"
        ></textarea>
    </div>
    <p>{{ creationMessage() }}</p>
    <button (click)="onSubmit()">Edit</button>
    <button (click)="onDelete()">Delete</button>
</form>
