h1 {
    font-size: xx-large;
    color: var(--foreground);
    margin: 0;
}

a {
    margin: 0;
    font-size: x-large;
    font-weight: 600;
    color: var(--main3);
    background: none;
    border: none;
    text-align: left;
    user-select: all;
}
