a {
    display: block;
    width: 20vw;
    background-color: var(--main4);
    font-size: large;
    color: var(--main1);
    text-align: center;
    user-select: none;
    text-decoration: none;
    border: 2px solid var(--main4);
}

.selected {
    color: var(--main4);
    background-color: var(--main3);
    border: 2px solid var(--main4);
}

@media (max-width: 800px) {
    a {
        width: 100%;
    }
}