div {
    display: flex;
    justify-content: space-between;
    width: 20.35vw;
}

a {
    width: 90%;
}

.edit {
    width: 10%;
    font-size: medium;
}

@media (max-width: 800px) {
    div {
        width: 100%;
    }

    a {
        width: 100%;
    }
}