a {
    display: block;
    width: 120px;
    background-color: var(--purple3);
    font-size: large;
    color: var(--beige);
    text-align: center;
    user-select: none;
    text-decoration: none;
    border: 2px solid var(--purple3);
}

.selected {
    color: var(--purple3);
    background-color: var(--purple2);
    border: 2px solid var(--purple3);
}

@media (max-width: 800px) {
    a {
        width: 100%;
    }
}