@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main1: #F5F5F5;
    --main2: #48CFCB;
    --main3: #229799;
    --main4: #424242;

    --background: white;
    --midground: #707070;
    --foreground: #424242;

    /* --beige: #F7EFE5;
    --purple1: #E2BFD9;
    --purple2: #C8A1E0;
    --purple3: #674188; */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: var(--beige);
}

a {
    display: block;
    background-color: var(--main4);
    font-size: large;
    color: var(--main1);
    text-align: center;
    user-select: none;
    text-decoration: none;
    border: 2px solid var(--main4);
}

.selected {
    color: var(--main4);
    background-color: var(--main3);
    border: 2px solid var(--main4);
}

.form {
    width: fit-content;
    padding: 20px;
    color: var(--main4);
    background-color: var(--main2);
    border: 2px solid var(--main4);
}

.form > h1 {
    margin: 0;
    padding: 0;
    font-size: x-large;
}
.form > h2 {
    margin: 0;
    padding: 0;
    font-size: large;
}

.input-group {
    margin-bottom: 10px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

input, textarea {
    display: block;
    width: 20em;
    border: 0;
    font-family: "Poppins", system-ui;
    font-size: medium;
    color: var(--foreground);
    background-color: var(--background);
    border: 2px solid var(--main3);
}
input {
    height: 2em;
}
textarea {
    resize: none;
}

button {
    border: none;
    color: var(--main1);
    background-color: var(--main4);
    font-size: medium;
    height: 2em;
    width: 5em;
}
button:hover {
    color: var(--main4);
    background-color: var(--main3);
    border: 2px solid var(--main4);
}
button:active {
    background-color: var(--main2);
}

[formgroupname].ng-invalid.ng-touched.ng-dirty label,
.control:has(.ng-invalid.ng-touched.ng-dirty) label {
    color: #f98b75;
}

[formgroupname].ng-invalid.ng-touched.ng-dirty input,
input.ng-invalid.ng-touched.ng-dirty {
    background-color: #fbdcd6;
    border-color: #f84e2c;
}

@media (max-width: 800px) {
    .form {
        width: 85%;
    }

    .input-group > input, textarea {
        width: 100%;
    }

    .form > button {
        width: 100%;
    }

    .form > h1, h2 {
        text-align: center;
    }
}
