<section>
    <div>
        <div class="header">
            <h1>{{ word().word }}</h1>
            <i>{{ word().part_of_speech }}</i>
        </div>
        @if (authenticated()) {
            <a [routerLink]="'/admin/languages/' + word().language_id + '/words/' + word().word_id + '/edit'">...</a>
        }
    </div>
    <p class="ipa">{{ word().phonetic_transcription }}</p>
    <p>{{ word().translation }}</p>
    <p class="example">{{ word().example }}</p>
    <p class="example">{{ word().example_translation }}</p>
</section>
